li{
    display: inline;
    word-spacing: 50px;
}

a:link{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 10px;
}
a:hover{
    color: blue;
    text-decoration:underline;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.nxt{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    border-radius: 70px;
    background-color: white;
    margin: 10px 7px;
    font-size: 20px;
}
#gsearch{
    border-radius: 70px;
    font-size: 40px;
    cursor: pointer;
    border-color: rgb(194, 193, 193);
    border-top: rgb(194, 193, 193); 
    border-left: rgb(194, 193, 193); 
}
.search{
    background-color: white;
    border-color: white;
}
.lucky{
    background-color: white;
    border-color: white;
}
.first{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 50px;
}
h5{
    text-align: center;
}
h5 a:link{
    color: blue;
}